#list-item {
  margin: 5px 0 !important;
  position: relative;
  padding: 15px;
  font-size: 20px;
  color:var(--li-color)
} #list-item a{
    z-index: 2;
}
.logo{
  color:var(--main-color)

}
.logo:hover{
  color:var(--main-color)

}
#list-item::before {
  content: "";
  background-color: var(--dash-bg);
transition: 0.3s ease-in-out;
  width: 0%;
  height: 100%;
  position: absolute;

  top: 0;
  left: 0;
  border-top-right-radius: 30px;
  z-index: -1;
  border-bottom-right-radius: 30px;
}
#list-item:hover::before{
    width: 100%;
} 
#list-item:hover a,
#list-item:hover button{
    color: var(--main-color) !important;
}