.App {
  text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--dash-nav); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Color of the scrollbar thumb */
  /* border-radius: 10px; Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the thumb */
}
:root {
  --main-color: #ff4400;
  --place-holder: #00000074;
  --bg-color: #fff;
  --text-color: #000;
  --bg-footer-color: #f0f0f0;
  --nav-bar: #f8f9fa !important;
  --li-color: #0000008c;
  --dash-bg: #f9fafb;
  --dash-nav:#fff;
}
.dark {
  --bg-color: #121317;
  --bg-footer-color: #1a1c23;
  --text-color: #fff;
  --place-holder: #cfcbcb74;
  --nav-bar: #1a1c23 !important;
  --li-color: #fff;
  --dash-bg: #121317;
  --dash-nav:#1a1c23;
}
/* body {
  background-color: var(--bg-color);
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
